<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://unpkg.com/leaflet/dist/leaflet.css">
    <title>Mapa-LetBus</title>
    <style>
        #map { height: 100vh;}
    </style>
</head>
<body>
    <div id="map"></div>

<script src="http://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    const map = L.map('map').setView([-0.037182, -51.177509], 15);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
        attribution:'AbrirMapa'
    }).addTo(map);

    const icone_Onibus = L.icon({
        iconUrl:'/static/img/onibus.jpg',
        iconSize: [40,40],
        iconAnchor: [20,20]
    });

    const marcador = L.marker([-0.037182, -51.177509], {icon: icone_Onibus}).addTo(map);

    async function posicaodoonibus() {
        const res = await fetch('/api/onibus');
        const data = await res.json();
        marcador.setLatLng([data.lat, data.lng]);
        map.panTo([data.lat, data.lng]);
    }

    setInterval(atualizacao_posicao_onibus, 2000);
</script>
</body>
</html>