<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Login - LetsBus</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/log-reg.css') }}"
    />
    <!-- Ícones Box -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css"
    />
  </head>
  <body>
    <body data-email="{{ usuario.email if usuario else '' }}">
    <div class="container">
      <div class="cabecalho-formulario">
        <div class="textos">
          <div class="texto-login">Login</div>
        </div>
      </div>

      <!-- Formulário de Login -->
      <form id="formLogin" class="formulario-login" autocomplete="off">
        <div class="campo-entrada">
          <input type="email" class="campo-input" id="email" required />
          <label for="email" class="rotulo">Email</label>
          <i class="bx bx-envelope icone"></i>
        </div>

        <div class="campo-entrada">
          <input type="password" class="campo-input" id="senha" required />
          <label for="senha" class="rotulo">Senha</label>
          <i class="bx bx-lock-alt icone"></i>
        </div>

        <!-- Botão corrigido -->
        <div class="campo-entrada">
          <button type="submit" class="botao-entrar" id="btnEntrar">
            Entrar <i class="bx bx-log-in"></i>
          </button>
        </div>

        <div class="colunas-formulario">
          <div class="coluna-1"></div>
          <div class="coluna-2">
            <a href="/recuperar">Esqueci minha senha</a>
          </div>
        </div>

        <div class="alternar-formulario">
          <span>Não tem uma conta? <a href="/cadastro">Cadastre-se</a></span>
        </div>
      </form>
    </div>

    <div id="popup-fundo-login" class="popup-fundo" style="display: none;">
      <div id="popup-sucesso-login" class="popup-confirmacao">
        <h2>Login bem-sucedido!</h2>
        <button onclick="irParaMapa()" class="botao-popup">Ir para o mapa</button>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
