<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro - LetsBus</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log-reg.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="cabecalho-formulario">
        <div class="textos">
          <div class="texto-registrar">Criar Conta</div>
        </div>
      </div>

      <form id="formCadastro" autocomplete="off">
        <div class="campo-entrada">
          <input type="text" class="campo-input" id="reg-nome" required />
          <label for="reg-nome" class="rotulo">Nome</label>
          <i class="bx bx-user icone"></i>
        </div>

        <div class="campo-entrada">
          <input type="tel" class="campo-input" pattern="\(\d{2}\) \d{5}-\d{4}" id="reg-tel" required />
          <label for="reg-tel" class="rotulo">Telefone</label>
          <i class="bx bx-phone icone"></i>
        </div>

        <div class="campo-entrada">
          <input type="email" class="campo-input" id="reg-email" required />
          <label for="reg-email" class="rotulo">E-mail</label>
          <i class="bx bx-envelope icone"></i>
        </div>

        <div class="campo-entrada">
          <input type="password" class="campo-input" id="reg-senha" required />
          <label for="reg-senha" class="rotulo">Senha</label>
          <i class="bx bx-lock-alt icone"></i>
        </div>

        <div class="campo-entrada">
          <button type="submit" class="botao-entrar" id="btnsignUp">Cadastrar</button>
        </div>

        <div class="colunas-formulario">
          <div class="coluna-1">
            <input type="checkbox" id="agree" />
            <label for="agree">Concordo com os termos e condições</label>
          </div>
        </div>

        <div class="alternar-formulario">
          <span>Já tem uma conta? <a href="/login">Entrar</a></span>
        </div>
      </form>
    </div>

    <div id="popup-fundo-cadastro" class="popup-fundo" style="display: none;">
      <div id="popup-sucesso-cadastro" class="popup-confirmacao">
        <h2>Bem-vindo, <span id="nome-usuario-popup"></span>!</h2>
        <button onclick="irParaMapa()" class="botao-popup">Ir para o mapa</button>
      </div>
    </div>
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
